.mannageItem{
    width: 100%;
    height: 100%;
    background-color: #eee;
    padding-top: 30px;

}
.mannageIte-collection h1{
text-align:  center;
margin-bottom: 50px;
}
.pagenation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.pagenation button{
    margin: 0 12px;
    border: 1px solid gray;
    padding: 0 10px;
}
.selected{
    background-color: #FFDD22;
}
.additem-btn{
    display: flex;
    justify-content: center;
}
.additem-btn button{
    margin: 0;
    color: gray;
    box-shadow:1px 1px 10px rgba(128, 128, 128, 0.253);
}