.myitem{
    height: 100%;
    width: 100%;
    background-color: #eee;
    padding: 50px 0;
}
.item-collection{
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px ;
    border-radius: 8px;
    height: 100vh;
    overflow: scroll;
}
.item-collection>h4{
    text-align: center;
}
.item-box{
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    text-align: left;
    gap: 0 20px;
    padding:  10px;
    margin: 30px 0;
    box-shadow: 1px 1px 20px #6f6b6b67;
    background-color: #eee;
    border-radius: 8px;
    
}
.item-img{
    display: flex;
    align-items: center;
}
.item-img img{
    width: 100%;
    
}
.quantiy-supplier{
    display: flex;
    gap: 0 10px;
    line-height: 0px;
}
.delet-btn{
    display: flex;
    align-items: center;

}
.delete-icon{
    border: 2px solid;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: red;
    
}
.delete-icon:hover{
    background-color: transparent;
    background-color: rgba(255, 0, 0, 0.235);
}
.notfounditem{
    background-color: #014370;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.delete-icon{
    font-size: 0px;
}
.details-btn{
    display: flex;
    justify-content:space-between;
}
@media screen and (max-width:600px) {
    .notfounditem{
        height: 50vh;
        text-align: center;
        padding: 20px;
    }
    .item-collection{
        width: 100%;
        
    }
    .item-box{
        grid-template-columns: 1fr;
        padding:  20px;
    }
    .item-img img{
        width: 80%;
    }
}