.inventtory-page{
    height: 100vh;
    width: 100%;

}
.inventtory-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.231);
    padding: 50px;
    margin-top: 50px;
    width: 80%;
}
.quantity-icon {
    margin: 0 10px;
    cursor: pointer;
}
.qunantity input{
    padding-left:20px ;
    width: 80px;
    border: 1.5px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
}
.quantity-btn{
    background-color:#FFDD22 ;
    padding: 10px 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    border:1.5px solid #FFDD22;
    transition: .2s ease-in-out;
}
.quantity-btn:hover{
    background-color: transparent;
    border-color: #000;
}
.quantity-form{
margin: 20px 0;
}
.quantity-form input[type=number]{
    border: 1.5px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    width: 150px;
    padding: 5px;
}
.quantity-form input[type=submit]{
    width: 100px;
    padding: 5px;
    background-color: rgb(0, 128, 0);
    margin-left: 20px;
    border-radius: 10px;
    color: #fff;
}
.mangeBtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.mabage-btn{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 60px;
    background-color: #fff;
    color: rgba(128, 128, 128, 0.505);
    transition: all .3s ease-in-out;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.354);
}

.view-btn:hover{
    background-color: #FFDD22;
    color: #000;
}
.mabage-btn:hover{
    background-color: #FFDD22;
    color: #000;
}

@media screen and (max-width:1000px) {
    .inventtory-item{
        grid-template-columns: 1fr 1fr;

    }
}
@media screen and (max-width:600px) {
    .inventtory-item{
        grid-template-columns:1fr;
        width: 100%;
    padding: 20px;

    }
    .inventory-img img{
        width: 300px;
    }
}